:root {
    --fondo: #81C6FC;
    --containerfondo: #DBDBDC;
    --bordeadocontainer: #F72929;
}

.titulo {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.btn-group {
    margin-left: 50%;
    transform: translateX(-50%);
}

.container {
    background-color: #fafafa;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    padding: 2rem;
    /*border: 2px solid #FA4343;*/
    border: 2px solid var(--bordeadocontainer);
    text-align: center;
    background-color: var(--containerfondo);
    font-family: 'Courier New', Courier, monospace;
}

.btn-group a {
    color: green;
}

.btn-group a:hoover {
    color: whitesmoke;
}

.ingreso {
    width: 23%;
}

@media (min-width: 768px) {
    body {
        background-color: var(--fondo);
    }
}

.text-center {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

div.btn-group {
    width: 33.33%;
    display: flex;
    justify-content: center
}