.titulo {
    text-align: center;
}

.btn-group {
    margin-left: 50%;
    transform: translateX(-50%);
}

.formulario {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
}